<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Shadows+Into+Light" rel="stylesheet">
</head>
<body>
  <header>
    <div class="service_name">
      <h1><img src="assets/images/main_logo.png">VAmazon</h1>
      <h4>The bookstore by Vanilla_Coding</h4>
    </div>
    <div class="search_bar">
      <input id="search_box" type="text" placeholder="subject, author, publisher"></inpurt>
      <button id="search_button">GO</button>
    </div>
  </header>
  <div id="main_content">
    <div id="root"></div>
  </div>
  <div id="get_more">
    <button id="get_more_button" class="hidden">More</button>
  </div>
  <button id="to_upward" class="hidden"><img src="assets/images/to_upward.png"></div></button>
  <footer>
    <span>Any questions ? &nbsp;&nbsp;beautifulife.github.io</span>
  </footer>
</body>
</html>
