<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <header>
    <div class="service_name">
      <h1><img src="assets/images/main_logo.png">VAmazon</h1>
      <h4>The bookstore by Vanilla_Coding</h4>
    </div>
    <div class="search_bar">
      <input type="text" id="search_box" placeholder="subject, author, publisher"></inpurt>
      <button id="go_search">GO</button>
    </div>
  </header>
  <button id="test">pick me!</button>
  <div id="root"></div>
  <footer>
    <span>Any questions ? beautifulife.github.io</span>
  </footer>
</body>
</html>
