<div class="content_container">
  <div class="container_left">
    <img src="<%= image %>">
  </div>
  <div class="container_right">
    <h1 class="content_title" gorilla-mouseover="handleMouseover"><%= title %></h1>
    <p class="content_subtitle" gorilla-click="handleClick"><%= subTitle %></p>
    <%= baby %>
  </div>
</div>
