// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
    min-width: 600px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h4, p {
    margin: 0;
}

b {
    font-weight: bold !important;
}

input, button, a {
    all: unset;
}

.app {
    overflow: auto;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 1;
    width: 100%;
    min-width: 600px;
    height: 70px;
    border-bottom: 0.5px solid gainsboro;
    background-color: rgba(248,237,98,1);
    transition: top 0.3s;
}

header.scroll_bottom {
    top: -60px;
    opacity: 0.5;
}

.service_name {
    flex: 1;
    display: flex;
    align-items: baseline;
    font-family: 'Shadows Into Light', sans-serif;
}

.service_name > h1 {
    display: flex;
    align-items: center;
    padding-left: 60px;
    cursor: pointer;
}

.service_name > h1 >img {
    position: absolute;
    left: 5px;
    width: 50px;
    height: auto;
    padding-left: 15px;
}

.service_name > h4 {
    padding-left: 15px;
}

.search_bar {
    padding-right: 15px;
}

#search_box {
    width: 150px;
    height: 15px;
    padding: 5px;
    padding-left: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 12px;
}

#search_box:focus, #search_box:hover, #search_button:hover{
    border: 0.5px solid black;
    color: black;
}

#search_button {
    width: 25px;
    height: 25px;
    text-align: center;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#main_content > .store_main {
    position: absolute;
    top: 35%;
    width: 500px;
    user-select: none;
}

#main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 75px);
    padding-top: 70px;
}

.content_header {
    display: flex;
    width: 650px;
    margin-top: 20px;
}

.content_result {
    flex: 1;
    padding-left: 10px;
    line-height: 33px;
}

.content_result > span {
    font-weight: bold;
}

.select_view {
    width: 70px;
}

.list_view_button, .card_view_button {
    width: 30px;
    height: 30px;
    opacity: 0.3;
    cursor: pointer;
}

.selected {
    opacity: 0.7;
}

.content_container {
    display: flex;
    width: 650px;
    height: 180px;
    margin: 15px 0px;
    padding: 20px;
    border-bottom: 0.5px solid gainsboro;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.2);
}

.container_left {
    display: flex;
    align-items: center;
    width: 110px;
}

.container_left img {
    width: 110px;
    height: auto;
    max-height: 150px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.container_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 150px;
    padding-left: 25px;
}

.content_title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 300;
}

.content_subtitle {
    margin-bottom: 15px;
    font-size: 13px;
}

.content_author {
    margin-bottom: 15px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
}

.content_description {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.7);
}

.content_url {
    cursor: pointer;
}

.content_price {
    position: absolute;
    bottom: 15px;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.7);
}

.content_price > span {
    display: inline-block;
    width: 30px;
}

.content_price .content_sales_price {
    width: 40px;
    text-decoration: line-through red;
}

.content_price .content_discount_price {
    width: 50px;
    font-weight: 700;
    color: #208ce4;
}

#get_more {
    margin-bottom: 20px;
    text-align: center;
}

#get_more_button {
    width: 550px;
    padding: 5px;
    border: 0.5px solid gray;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s;
    transition-property: font-weight, color, background-color;
}

#get_more_button:hover {
    font-weight: bold;
    color: black;
    background-color: #f8ed62;
}

.to_upward {
    position: fixed;
    right: 50px;
    top: calc(50% - 25px);
    cursor: pointer;
}

.to_upward > img {
    width: 50px;
    opacity: 0.2;
}

.to_upward > img:hover {
    opacity: 0.7;
}

.hidden {
    visibility: hidden;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border-top: 0.5px solid rgb(160, 160, 160);
    background-color: rgb(230, 230, 230);
    font-size: 12px;
}

.loader {
    position: fixed;
    bottom: 150px;
    left: calc(50% - 40px);
    width: 120px;
    animation: loader 2s infinite;
}

@keyframes loader {
    from {
        opacity: 0;
        transform: translateY(px);
    }
    to {
        opacity: 1;
        transform: translateY(-100px);
    }
}