// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
    box-sizing: border-box;
    position: relative;
    // background-color: pink;
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h1, h4, p {
    margin: 0;
}

input {
    all: unset;
}

button {
    all: unset;
}

header {
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: 0.5px solid gainsboro;
    background-color: rgba(248,237,98,1);
}

.service_name {
    flex: 1;
    display: flex;
    align-items: baseline;
}

.service_name > h1 {
    padding-left: 50px;
}

.service_name > h1 >img {
    position: absolute;
    left: -5px;
    width: 50px;
    height: auto;
    padding-left: 15px;
}

.service_name > h4 {
    padding-left: 15px;
}

.search_bar {
    padding-right: 15px;
}

#search_box {
    width: 150px;
    height: 15px;
    padding: 5px;
    border: 0.5px solid gray;
    font-size: 12px;
}

#search_box:focus, #search_box:hover, #go_search:hover{
    border: 0.5px solid black;
}

#go_search {
    width: 25px;
    height: 25px;
    text-align: center;
    border: 0.5px solid gray;
    font-size: 11px;
    cursor: pointer;
}

#root {
    padding: 20px;
    min-height: 500px;
}

.content_container {
    display: flex;
    padding: 5px;
    margin-bottom: 15px;
    border-bottom: 0.5px solid gainsboro;
}

.container_left {
    width: 120px;
}

.container_left > img {
    width: 120px;
    height: auto;
}

.container_right {
    flex: 1;
    display: flex;
    padding: 5px;
}

.container_right_left {
    flex: 1;
}

.container_right_right {
    flex-basis: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_title {
    font-size: 16px;
    margin-bottom: 5px;
}

.content_subtitle {
    font-size: 14px;
    margin-bottom: 5px;
}

.content_author {
    font-size: 12px;
    margin-bottom: 5px;
}

.content_description {
    font-size: 11px;
}

.content_price {
    font-size: 14px;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border-top: 0.5px solid rgb(160, 160, 160);
    background-color: rgb(230, 230, 230);
}