// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
    min-width: 700px;
    box-sizing: border-box;
    margin: 0;
    font-family: 'lato', 'Nanum Gothic', sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h4, p {
    margin: 0;
}

b {
    font-weight: bold !important;
}

input, button, a {
    all: unset;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    min-width: 700px;
    height: 70px;
    background: linear-gradient(to right, rgba(255, 232, 150, 0.4), rgb(255, 255, 255), rgba(247, 202, 201, 0.4));
    transition: top 0.3s;
}

header.scroll_bottom {
    top: -60px;
}

.gnb-service-name {
    flex: 1;
    display: flex;
    align-items: baseline;
    min-width: 350px;
    font-family: 'Shadows Into Light', sans-serif;
}

.gnb-service-name > h1 {
    display: flex;
    align-items: center;
    padding-left: 38px;
    cursor: pointer;
}

.gnb-service-name > h1 >img {
    position: absolute;
    left: 5px;
    width: 50px;
    height: auto;
    padding-left: 15px;
}

.gnb-service-name > h4 {
    padding-left: 15px;
}

.gnb-search-bar {
    flex: 2;
    padding-right: 35px;
    text-align: right;
}

.gnb-input-box {
    width: 80%;
    min-width: 200px;
    height: 20px;
    padding: 5px 10px;
    border: 0.5px solid rgba(0, 0, 0, 0);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    font-size: 14px;
    text-align: center;
}

.gnb-input-box::placeholder {
    font-size: 13px;
    font-weight: 100;
    text-align: center;
}

.gnb-input-box:focus, .gnb-input-box:hover, .gnb-btn-search:hover{
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.gnb-btn-search {
    width: 25px;
    height: 20px;
    padding: 4px 5px;
    border: 0.5px solid rgba(0, 0, 0, 0);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    font-size: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.img-main {
    position: absolute;
    top: 35%;
    width: 500px;
    user-select: none;
    -webkit-user-select: none;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 700px;
    min-height: calc(100vh - 30px);
    padding-top: 70px;
}

.content-header {
    display: flex;
    width: 650px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

.content-header-result {
    flex: 1;
    padding-left: 10px;
    line-height: 33px;
}

.content-header-result > span {
    font-weight: bold;
}

.select-view-wrapper {
    width: 70px;
}

.btn-list-view, .btn-card-view {
    width: 30px;
    height: 30px;
    opacity: 0.3;
    cursor: pointer;
}

.select-sort-wrapper {
    width: 650px;
    padding: 15px 5px 0px 10px;
    font-size: 14px;
}

.select-sort-wrapper > button {
    border-radius: 10px;
    opacity: 0.7;
    cursor: pointer;
}

.space-between {
    margin: 0px 5px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
}

.selected {
    font-weight: bold;
    color: black;
    opacity: 0.8;
}

.list-content-area {
    width: 650px;
    margin-top: 10px;
}

.list-content-container {
    display: flex;
    width: 650px;
    min-height: 180px;
    margin: 15px 0px;
    padding: 20px;
    border-bottom: 0.5px solid gainsboro;
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.1);
}

.list-left-box {
    display: flex;
    align-items: center;
    width: 110px;
}

.list-left-box img {
    width: 110px;
    height: auto;
    max-height: 150px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.list-right-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 150px;
    padding-left: 25px;
}

.list-content-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.list-content-subtitle {
    margin-bottom: 15px;
    font-size: 13px;
}

.list-content-author {
    margin-bottom: 15px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
}

.list-content-description {
    margin-bottom: 35px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.7);
}

.list-content-description > span {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list-content-url {
    cursor: pointer;
}

.list-content-price-wrapper {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.7);
}

.list-content-price-wrapper > span, .card-content-price-wrapper > span {
    display: inline-block;
    width: 30px;
    font-size: 11px;
}

span.list-content-price {
    margin-left: 10px;
    text-decoration: line-through red;
}

span.list-content-discount, span.card-content-discount {
    font-size: 11px;
    font-weight: 700;
    color: #208ce4;
    cursor:pointer;
}

.card-content-area {
    width: 680px;
    margin-top: 10px;
}

.card-content-container {
    display: inline-flex;
    flex-direction: column;
    width: 160px;
    height: 350px;
    margin: 0px 3px;
    padding: 5px;
}

.card-top-box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    height: 180px;
}

.card-content-description{
    position: absolute;
    left: 5px;
    bottom: 0;
    width: 120px;
    height: 155px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 100;
    background-color: black;
    color: white;
    line-height: 30px;
    opacity: 0.8;
    cursor:pointer;
}

.card-content-description > span {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-top-box img {
    width: 120px;
    max-height: 170px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card-bottom-box {
    flex: 1;
    padding: 10px;
    padding-left: 15px;
}

.card-content-title {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
}

.card-content-author {
    margin-bottom: 7px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
}

.no-content-container {
    margin-top: 150px;
    margin-left: calc(50% - 70px);
}

.btn-upward {
    position: fixed;
    top: calc(50% - 25px);
    right: 50px;
    cursor: pointer;
}

.btn-upward > img {
    width: 50px;
    opacity: 0.2;
}

.btn-upward > img:hover {
    opacity: 0.7;
}

.hidden {
    visibility: hidden;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    font-size: 12px;
}

.loader {
    position: fixed;
    bottom: 150px;
    left: calc(50% - 40px);
    width: 120px;
    animation: loader 1.5s infinite;
}

@keyframes loader {
    from {
        opacity: 0;
        transform: translateY(px);
    }
    to {
        opacity: 1;
        transform: translateY(-100px);
    }
}